body{
    background-image: url(./abstract-textured-backgound.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.formbox{
    background: rgba( 255, 255, 255, 0.05 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 17px );
-webkit-backdrop-filter: blur( 17px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.form-control,.form-select, option{
    background:transparent;
   
    
}